TEAM_SOFTWARE_II/Project_View/Service References/ServicioDeporte/DeportesWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sport" nillable="true" type="tns:Sport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSport" nillable="true" type="tns:ArrayOfSport" />
  <xs:complexType name="Sport">
    <xs:sequence>
      <xs:element minOccurs="0" name="deporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sport" nillable="true" type="tns:Sport" />
</xs:schema>