TEAM_SOFTWARE_II/Project_View/Service References/ServicioDeporte/DeportesWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
  <xs:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="createSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="sport" nillable="true" type="q1:deporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargeSportsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargeSportsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="ChargeSportsListResult" nillable="true" type="q2:ArrayOfSport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oSport" nillable="true" type="q3:deporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oSport" nillable="true" type="q4:deporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>