TEAM_SOFTWARE_II/Project_View/Service References/ServicioDeporte/DeportesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeportesWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
      <xsd:import schemaLocation="http://localhost:7215/DeportesWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeportesWebService_createSport_InputMessage">
    <wsdl:part name="parameters" element="tns:createSport" />
  </wsdl:message>
  <wsdl:message name="IDeportesWebService_createSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:createSportResponse" />
  </wsdl:message>
  <wsdl:message name="IDeportesWebService_ChargeSportsList_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargeSportsList" />
  </wsdl:message>
  <wsdl:message name="IDeportesWebService_ChargeSportsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargeSportsListResponse" />
  </wsdl:message>
  <wsdl:message name="IDeportesWebService_DeleteSport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSport" />
  </wsdl:message>
  <wsdl:message name="IDeportesWebService_DeleteSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSportResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeportesWebService">
    <wsdl:operation name="createSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeportesWebService/createSport" message="tns:IDeportesWebService_createSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeportesWebService/createSportResponse" message="tns:IDeportesWebService_createSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargeSportsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeportesWebService/ChargeSportsList" message="tns:IDeportesWebService_ChargeSportsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeportesWebService/ChargeSportsListResponse" message="tns:IDeportesWebService_ChargeSportsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeportesWebService/DeleteSport" message="tns:IDeportesWebService_DeleteSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeportesWebService/DeleteSportResponse" message="tns:IDeportesWebService_DeleteSport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeportesWebService" type="tns:IDeportesWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createSport">
      <soap:operation soapAction="http://tempuri.org/IDeportesWebService/createSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeSportsList">
      <soap:operation soapAction="http://tempuri.org/IDeportesWebService/ChargeSportsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSport">
      <soap:operation soapAction="http://tempuri.org/IDeportesWebService/DeleteSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeportesWebService">
    <wsdl:port name="BasicHttpBinding_IDeportesWebService" binding="tns:BasicHttpBinding_IDeportesWebService">
      <soap:address location="http://localhost:7215/DeportesWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>