TEAM_SOFTWARE_II/Project_View/Service References/ServicioRutina/RutinasWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
  <xs:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="CrearRutina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="Rutinas" nillable="true" type="q1:rutina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearRutinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearRutinaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRutina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oRutinas" nillable="true" type="q2:rutina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarRutinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarRutinaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRutina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oRutina" nillable="true" type="q3:rutina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRutinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRutinaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerRutinas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerRutinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="ChargerRutinasResult" nillable="true" type="q4:ArrayOfRutina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultiRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oRelation" nillable="true" type="q5:participante_deporte_rutina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMultiRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMultiRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oRelational" nillable="true" type="q6:rutinas_deportes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>