TEAM_SOFTWARE_II/Project_View/Service References/ServicioRutina/RutinasWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRutina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rutina" nillable="true" type="tns:Rutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRutina" nillable="true" type="tns:ArrayOfRutina" />
  <xs:complexType name="Rutina">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rutina" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rutina" nillable="true" type="tns:Rutina" />
</xs:schema>