TEAM_SOFTWARE_II/Project_View/Service References/ServicioRutina/RutinasWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RutinasWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
      <xsd:import schemaLocation="http://localhost:7215/RutinasWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRutinas_CrearRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearRutina" />
  </wsdl:message>
  <wsdl:message name="IRutinas_CrearRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IRutinas_EditarRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarRutina" />
  </wsdl:message>
  <wsdl:message name="IRutinas_EditarRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IRutinas_EliminarRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRutina" />
  </wsdl:message>
  <wsdl:message name="IRutinas_EliminarRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IRutinas_ChargerRutinas_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargerRutinas" />
  </wsdl:message>
  <wsdl:message name="IRutinas_ChargerRutinas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargerRutinasResponse" />
  </wsdl:message>
  <wsdl:portType name="IRutinas">
    <wsdl:operation name="CrearRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IRutinas/CrearRutina" message="tns:IRutinas_CrearRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRutinas/CrearRutinaResponse" message="tns:IRutinas_CrearRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IRutinas/EditarRutina" message="tns:IRutinas_EditarRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRutinas/EditarRutinaResponse" message="tns:IRutinas_EditarRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IRutinas/EliminarRutina" message="tns:IRutinas_EliminarRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRutinas/EliminarRutinaResponse" message="tns:IRutinas_EliminarRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargerRutinas">
      <wsdl:input wsaw:Action="http://tempuri.org/IRutinas/ChargerRutinas" message="tns:IRutinas_ChargerRutinas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRutinas/ChargerRutinasResponse" message="tns:IRutinas_ChargerRutinas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRutinas" type="tns:IRutinas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearRutina">
      <soap:operation soapAction="http://tempuri.org/IRutinas/CrearRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarRutina">
      <soap:operation soapAction="http://tempuri.org/IRutinas/EditarRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRutina">
      <soap:operation soapAction="http://tempuri.org/IRutinas/EliminarRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargerRutinas">
      <soap:operation soapAction="http://tempuri.org/IRutinas/ChargerRutinas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RutinasWebService">
    <wsdl:port name="BasicHttpBinding_IRutinas" binding="tns:BasicHttpBinding_IRutinas">
      <soap:address location="http://localhost:7215/RutinasWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>