TEAM_SOFTWARE_II/Project_View/Service References/ServicioParticipante/ParticipantesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParticipantesWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7215/ParticipantesWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7215/ParticipantesWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7215/ParticipantesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
      <xsd:import schemaLocation="http://localhost:7215/ParticipantesWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParticipantesWebService_InsertarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarParticipante" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_InsertarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_EditarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarParticipante" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_EditarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_EliminarParticipante_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarParticipante" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_EliminarParticipante_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_ListadoParticipantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoParticipantes" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_ListadoParticipantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoParticipantesResponse" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_FiltList_InputMessage">
    <wsdl:part name="parameters" element="tns:FiltList" />
  </wsdl:message>
  <wsdl:message name="IParticipantesWebService_FiltList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FiltListResponse" />
  </wsdl:message>
  <wsdl:portType name="IParticipantesWebService">
    <wsdl:operation name="InsertarParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipantesWebService/InsertarParticipante" message="tns:IParticipantesWebService_InsertarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipantesWebService/InsertarParticipanteResponse" message="tns:IParticipantesWebService_InsertarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipantesWebService/EditarParticipante" message="tns:IParticipantesWebService_EditarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipantesWebService/EditarParticipanteResponse" message="tns:IParticipantesWebService_EditarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarParticipante">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipantesWebService/EliminarParticipante" message="tns:IParticipantesWebService_EliminarParticipante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipantesWebService/EliminarParticipanteResponse" message="tns:IParticipantesWebService_EliminarParticipante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListadoParticipantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipantesWebService/ListadoParticipantes" message="tns:IParticipantesWebService_ListadoParticipantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipantesWebService/ListadoParticipantesResponse" message="tns:IParticipantesWebService_ListadoParticipantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FiltList">
      <wsdl:input wsaw:Action="http://tempuri.org/IParticipantesWebService/FiltList" message="tns:IParticipantesWebService_FiltList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParticipantesWebService/FiltListResponse" message="tns:IParticipantesWebService_FiltList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParticipantesWebService" type="tns:IParticipantesWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarParticipante">
      <soap:operation soapAction="http://tempuri.org/IParticipantesWebService/InsertarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarParticipante">
      <soap:operation soapAction="http://tempuri.org/IParticipantesWebService/EditarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarParticipante">
      <soap:operation soapAction="http://tempuri.org/IParticipantesWebService/EliminarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListadoParticipantes">
      <soap:operation soapAction="http://tempuri.org/IParticipantesWebService/ListadoParticipantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FiltList">
      <soap:operation soapAction="http://tempuri.org/IParticipantesWebService/FiltList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParticipantesWebService">
    <wsdl:port name="BasicHttpBinding_IParticipantesWebService" binding="tns:BasicHttpBinding_IParticipantesWebService">
      <soap:address location="http://localhost:7215/ParticipantesWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>