TEAM_SOFTWARE_II/Project_View/Service References/ServicioParticipante/ParticipantesWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7215/ParticipantesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" />
  <xs:element name="InsertarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oParticipante" nillable="true" type="q1:participante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarParticipanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarParticipanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oParticipante" nillable="true" type="q2:participante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarParticipanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarParticipanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="oParticipante" nillable="true" type="q3:participante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarParticipanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarParticipanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoParticipantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoParticipantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos.Modelo" minOccurs="0" name="ListadoParticipantesResult" nillable="true" type="q4:ArrayOfparticipante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>